body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin: 5px;
    background-image: url(img/text_jornal.jpg); 
    background-size: cover;/* background-size: cover; -> PARA COBRIR TODA A TELA*/
    background-attachment:fixed; /*DEIXA O BACKGROUND FIXO SEM SE MOVER PELO SCROLL*/
}
@media screen and (max-width: 300px) {
    div,::selection,.footer{
        width: 100%;
        padding: 0px;
    }
}
.container{
    width: 630px;
    margin: 200px auto;
    margin-bottom: 0;
}
.profile{
    text-align: center;
}
.social-icon{
    width: 60px;
    height: auto;
    margin: 0 15px;
}
.social-link{
    text-decoration: none;
}
.jobs-list{
    list-style: none;
}

ul{
    color:black

}
p{
    margin-top:0
}
h1{
    
  margin-bottom: 40px;
    
}
h2{
    text-shadow: 0px 0px 2px black;
    color:blue
    
}
h3{
    background-color: black;
    padding: 8px;
    opacity: 0.3;
    font-style: italic;
    color:gold;
    box-shadow: 0px 0px 5px black;
    text-shadow: 0px 0px 10px black;

}
h4{
    color: white
}
.photocurriculo {
    width:200px;
    border: 5px groove gray; /* SHORTHAND = VALOR DE WIDTH, STYLE E COLOR (A ORDEM É IMPORTANTE)*/
    border-radius: 50%; /*BORDER PARA DEIXAR A BORDA MAIS ARRENDONDADA, PODE-SE TRABALHAR COM PIXER (px) OU POR PORCENTAGEM (%)
    /* PODE-SE USAR TAMBEM SEPARADAMENTE BORDER CONFORME EXEMPLO ABAIXO, POREM NÃO É MUITO EFICIENTE. AQUI A ORDEM INDIFERE.
    border-width: 5px;
    border-color: gray;
    border-style: groove; */
      /* SHORTHAND = 50px (valor top = cima) 300px (valor right = direito) 100px (valor bottom = abaixo) 300px (valor left = esquerdo)*/
    padding: 1px; /*MARGEM INTERNA*/
    height: 200px; /*ALTURA*/
    box-shadow: 0px 0px 25px orange; /*SOMBRA --> DISTANCIA SOMBRA HORIZONTAL, DISTANCIA SOMBRA VERTICAL, DESFOQUE SOMBRA E COR*/
}

h6{
    margin-bottom: 0;
    font-weight: 200;
    font-style: italic;
}

.formacao{
    display: block;
    
}
.formacao li{
    display: table-cell;
    list-style: none;
    -webkit-text-stroke: medium;
    
}
.formacao li a{
    margin: 20px;
    display: block;
    text-decoration: none;
}
.formacao img{
    margin: 20px;
    width: 60px;
    border-radius: 80px;
}

.footer{
    background: black;
    text-align: center;
    padding: 10px;
}
span{
    color: gray;
}

.experiencia{
    display: block;
    
}
.experiencia li{
    display: table-cell;
    list-style: none;
    -webkit-text-stroke: medium;
    
}
.experiencia li a{
    margin: 20px;
    display: block;
    text-decoration: none;
}
.experiencia img{
    margin: 20px;
    width: 60px;
    border-radius: 80px;
}